body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.button__next {
    transform: rotate(-45deg);
    cursor: pointer;
}

.button__prev {
    transform: rotate(135deg);
    cursor: pointer;
}

.calendar__day {
    cursor: pointer;
    transition: background 50ms ease;
}

.calendar__day--current,
.calendar__day:hover {
    color: #ffff;
    background: #42b983;
}